*{
  margin: auto;
  padding: 10px;
}
  table,tr,th,td{
  border: 1px solid black;
  border-collapse:collapse;
 }
 th{
  background-color: rgb(250, 208, 154);
 }
 td{
  background-color: rgb(161, 192, 248);
 }